body {
  background-color: #f9fbfc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.full-height {
  height: -webkit-fill-available;
}

.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  background-color: #0279c0 !important;
  color: white !important;
}
.MuiOutlinedInput-input span {
  font-size: 14px !important;
}
.MuiBackdrop-root {
  background-color: #0279c033 !important;
}
.MuiMenu-root > .MuiBackdrop-root{
  background-color: transparent !important;
}
.MuiIconButton-root{
  color: #0279c0 !important;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
